.login-container {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: white;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 135px;
    border-radius: 15px;
    border: 1px solid black;
    
    .form-container { 
        background-color: white;
        margin: 0 auto;
        margin-top: 150px;
    }
    }
