.register-container {
width: 80%;
height: 80%;
background-color: white;
left: 0;
right: 0;
margin: auto;
margin-top: 135px;
border-radius: 15px;
border: 2px solid grey;
bottom: 10%;
position: fixed;

.form-container { 
    width: 70%;
    background-color: white;
    margin: 0 auto;
    margin-top: 150px;
}
}

.closed {
    transform: translateY(-100vh);
    opacity: 0;
}