.MenuButtonContainer2 {
    position: absolute;
    z-index: 7;
    width: 120px;
    text-align: left;
    margin-left: 3px;
    max-width: 200px;
    background-color: rgba(0,0,0,0);
    
}

.hamburger2 {
    outline: none;
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    border: 0;
    margin: 0;
    background-color: rgba(0,0,0,0);
    
    overflow: visible; }
    .hamburger2:hover {
      opacity: 0.7; }
    .hamburger2.is-active2:hover {
      opacity: 0.7; }
    .hamburger2.is-active2 .hamburger-inner2,
    .hamburger2.is-active2 .hamburger-inner2::before,
    .hamburger2.is-active2 .hamburger-inner2::after {
      background-color: rgba(0,0,0,0); }
  
  .hamburger-box2 {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  
  .hamburger-inner2 {
    display: block;
    top: 80%;
    margin-top: -2px; }
    .hamburger-inner2, .hamburger-inner2::before, .hamburger-inner2::after {
      background-color: white;
      /* size */
      width: 30px;
      height: 3px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner2::before, .hamburger-inner2::after {
      content: "";
      display: block; }
    .hamburger-inner2::before {
      top: -10px; }
    .hamburger-inner2::after {
      bottom: -10px; }
  

  /*
     * 3DY
     */
  .hamburger--3dy2 .hamburger-box2 {
    perspective: 80px; }
  
  .hamburger--3dy2 .hamburger-inner2 {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: black; }
    .hamburger--3dy2 .hamburger-inner2::before, .hamburger--3dy2 .hamburger-inner2::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
      background-color: black; }
  
  .hamburger--3dy2.is-active2 .hamburger-inner2 {
    background-color: black;
    background-color: transparent !important;
    transform: rotateX(-180deg); }
    .hamburger--3dy2.is-active2 .hamburger-inner2::before {
      background-color: black;
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    .hamburger--3dy.is-active2 .hamburger-inner2::after {
      background-color: black;
      transform: translate3d(0, -10px, 0) rotate(-45deg); }

  