.quiz-page-wrapper {
        display: flex;
        justify-content: center;
        background-color: #F7F8F9;
        .quiz-page-container {
                display: flex;
                width: 80%;
                //align-content: center;
                align-items: center;
                flex-direction: column;
                min-height: 100vh;
                .quiz-description {
                        margin-top: 150px;
                }
        
                .start-quiz-button {
                        text-align: center;
                        font-size: 15px;
                        font-family: 'Roboto', sans-serif;
                        color: white;
                        background-color: #FF9A34;
                        width: 200px;
                        height: 50px;
                        text-decoration: none;
                        border: none;
                        border-radius: 25px;
                }
        }
}


