.quiz-select-container{
    height: auto;
    background-color: #F7F7F7;

    .quiz-select-title {
        height: 200px;
        h1 {
            font-family: 'Roboto', sans-serif;
            padding-top: 150px;
            color: black;
            font-weight: bold;
            font-size: 3.5em;
        }
    }


    .quiz-selection-carousel {
        height: 500px;
        padding-top: 100px;
        display: flex;
        align-content: center;
        margin-bottom: 100px;
    }

}