.lower-mid-container {
    height: auto;
    background-color: #F7F7F7;
    padding-bottom: 55px;
    margin: 0 auto;
    width: 100%;

    .masking-border {
        overflow: hidden;
        h2 {
            padding-top: 20px;
            font-family: 'Roboto', sans-serif;
            color: #575757;
            margin-top: 75px;
            font-weight: bolder;
            font-size: 3.5em;
            margin-bottom: 50px;
        }
    }

// flex direction flex flow may need messing with to make this work better

    .quiz-card-container {
        margin-top: 60px; 
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        flex-direction: row;

        @media (max-width: 1200px) {
            flex-flow: row wrap;
        }
    }

    .lower-mid-cta {
        padding-top: 45px;
        width: 165px;
        margin: 0 auto;
    }

    .underline-remove {
        text-decoration: none;
    }
}

.line-breaker {
    margin-bottom: 50px;
    @media (max-width: 1200px) {
        width: 50%;
    }
}
