.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    border-bottom: 1px solid white;



    @media (max-width: 700px) { 
      position: absolute;
    }

    .logo-container {
      
      height: 100%;
      padding-top: 15px;
      padding-left: 50px;
      text-decoration: none;
      color: white;

      .header-logo {
        font-family: 'Faster One', cursive;
      }
    }
    


  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.18em;
      text-align: center;

  
      .option {
        margin-top: 75px;
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        width: 110px;
        cursor: pointer;

        .black{
          color: black;
        }
        

      }

      .option:hover {
        letter-spacing: 1px;
      }

      .option:last-child {
        margin-right: 40px;
      }
    }
  }

  .logo-container.black {
    display: none;
  }

  .option.black {
    display: none;
  }

  .header.black {
    display: none;
  }

  .header.nontransparent {
    position: static;
    background: rgba(196, 63, 63, 0.8);
    margin-bottom: 20px;
  }