.header {
    z-index: 7;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    border-bottom: 1px solid white;

    @media (max-width: 700px) { 
      position: absolute;
    }

    .logo-container {
      height: 100%;
      padding-top: 24px;
      padding-left: 50px;
      text-decoration: none;
      color: white;

      @media (max-width: 583px) { 
        padding-top: 13px;
      }

      .header-logo {
        font-size: 1.5em;
        font-weight: 600;
      }
      
    }
    


  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.18em;
      text-align: center;

  

      .option {
        margin-top: 75px;
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        width: 110px;
        cursor: pointer;

        @media (max-width: 900px) {
          display: none;
        }

        

        .black{
          color: black;

          @media (max-width: 900px) {
            display: none;
          }
    
        }
        

      }


      .option:hover {
        letter-spacing: 1px;
      }

      .option:last-child {
        margin-right: 55px;
        width: 150px;
      }
    }


  }

  .logo-container.black {
   display: none;
  }

  .option.black {
   display: none;
  }

  .header.black {
   display: none;
  }

  .header.nontransparent {
    //position: static;
    // background: rgba(196, 63, 63, 0.8);
    background-color: white;
    margin-bottom: 20px;

  }

  .header-logo.nontransparent {
    color: black;
  }


  .option.nontransparent {
    color: black !important; 
  }


  .burger-icon-container {
    width: 55px;
    height: 55px;
    margin-bottom: 2px;
    padding-right: 77px;
    cursor: pointer;

    @media (min-width: 900px) {
      display: none;
    }

    .burger-icon-img {
      max-height: 95%;
      max-width: 95%;
      filter: invert(99%) sepia(1%) saturate(3207%) hue-rotate(50deg) brightness(100%) contrast(100%);
    }

    .burger-icon-img:hover {
      max-height: 100%;
      max-width: 100%;
    }

  }

  .header.green {
    background-color: rgb(88,181,26);
    color: white;
    border-bottom: 2px solid white;
  }

  .option.green {
    color: white !important;
  }

  .header-logo.green {
    color: white !important;
  }