.card-container {
    width: 20%;
    height: 45%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;



    .prize-picture-container {
        background-color: black;
        border-radius: 25px;
        height: 90%;
        width: 100%;
        background: url("https://static.bigspark.com/shrine/8928/original-63aed47219.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        color: white;
    }

    .info-container {
        position: relative;
        bottom: 50px;
        height: 50%;
        width: 90%;
        border-radius: 25px;
        background-color: white;
        border: 1px solid black;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;

        .top-text-container { 
            margin-top: 10px;
            font-family: 'Russo One', sans-serif;
            border-bottom: 1px solid #edf0ee;
            width: 100%;
            padding-bottom: 15px;
        }
        .lower-text-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            font-weight: normal;
            font-family: 'Quicksand', sans-serif;
            font-size: 1.1em;
            margin-bottom: 10px;
        }
    }
}

.example {
    margin: 0 auto;
    width: 50%;
    height: 80%;
}