.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;

    .bground {
        width: 80vw;
        height: 555px;
        background-image: url("../../assets/carouselslide2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
}

.testingitem {
    height: 500px;
    margin-bottom: -50px;
}