.mid-section-container {
    width: 100vw;
    height: 75vh;
    color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: black;
    background: url("../../assets/instructionbackground.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    @media (max-width: 1200px) {
        height: 105%;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        color: #575757;
        margin-top: 75px;
        font-weight: bolder;
        font-size: 2.5em;
    }

    .instruction-container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
        color: white;

        @media (max-width: 1200px) {
            flex-direction: column;
            width: 90%;
            align-items: center;
            margin-bottom: 60px;
        }

        .instruction-section {
            width: 28vw;
            height: 550px;
            //border: 1px solid black;
            display: flex;
            flex-direction: column;
            padding: 20px;
            align-items: center;
            

            h3 {
                font-size: 1.2em;
                margin-bottom: 30px;
                font-family: 'Quicksand', cursive;
            }

            .quiz-image-container {
                height: 70%;
                width: 85%;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
    
    

}