.mid-section-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-content: center;


    
    .instruction-container {
        margin: 0 auto;
        background-color: red;
        display: flex;

        .instruction-section {
            width: 28vw;
            height: 400px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 1.2em;
            }
        }
    }
    
    

}