.mid-section-container {
    width: 100vw;
    height: 100vh;
    background-color: pink;
    color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #E8DEDE;
    color: black;

    h2 {
        margin-top: 75px;
    }


    
    .instruction-container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background-color: #C73232;
        margin-top: 75px;
        color: white;

        .instruction-section {
            width: 28vw;
            height: 450px;
            //border: 1px solid black;
            display: flex;
            flex-direction: column;
            padding: 20px;


            h3 {
                font-size: 1.2em;
                margin-bottom: 30px;
            }
        }
    }
    
    

}