.account-page-container {
    display: flex;
    justify-content: center;
    width: 100vw;

    .account-page-wrapper {
        z-index: 1;
        width: 90%;
        
        .username-display {
            padding-top: 5%;
        }
    }

    .account-page-circle-1 {
        z-index: 0;
        position: absolute;
        bottom: 100px;
        left: 150px;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        background: rgb(88,181,26);
        background: linear-gradient(90deg, rgba(88,181,26,1) 0%, rgba(66,161,23,1) 50%, rgba(44,141,20,1) 100%);

}
.account-page-circle-2 {
        z-index: 0;
        position: absolute;
        top: 100px;
        left: 55px;
        width: 135px;
        height: 135px;
        border-radius: 100px;
        border: 12px solid rgba(66,161,23,1);
}
.account-page-circle-3 {
        z-index: 0;
        position: absolute;
        bottom: 0px;
        right: 55px;
        width: 150px;
        height: 75px;
        border-top-left-radius: 110px;
        border-top-right-radius: 110px; 
        border: 12px solid rgba(66,161,23,1);
        border-bottom: 0;
}
.account-page-circle-4 {
        z-index: 0;
        position: absolute;
        top: 45%;
        right: -50px;
        width: 175px;
        height: 175px;
        border-radius: 100px;
        background: rgb(88,181,26);
        background: linear-gradient(90deg, rgba(88,181,26,1) 0%, rgba(66,161,23,1) 50%, rgba(44,141,20,1) 100%);

}
.account-page-circle-5 {
        z-index: 0;
        position: absolute;
        top: 100px;
        right: 200px;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 10px solid #FF9A34;
}
}