$color: #80ff80;

.faq-page-container {
    z-index: 1;
   // min-height: 800px;
    height: 100%;
    min-height: calc(100vh - 73px);
    display: flex;
    flex-direction: column;
.faq-page-wrapper {
    padding-left: 25%;
    padding-top: 7%;
    text-align: left;

    @media (max-width: 1200px) {
        padding-top: 9%;
    }

    @media (max-width: 1000px) {
        padding-top: 11%;
    }

    @media (max-width: 800px) {
        padding-top: 15%;
    }


    .faq-option {
        z-index: 0;
        border: 1px solid black;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        padding-left: 40px;
        cursor: pointer;
    }

    .faq-option:hover {
        border-bottom: none;
    }
    
    h1 {
        padding-bottom: 15px;
        font-size: 3em;
        color: grey;
    }

    h3 {
        padding: 20px;
        padding-left: 15px;
        font-size: 1.2em;
    }

    .transition-paragraph {
        padding: 20px;
        padding-left: 55px;
        padding-right: 35px;
        width: 100%;
        border: 1px solid black;
        padding-bottom: 35px;
    }
    .transition-paragraph.hide {
        display: none;
    }

    // .transition-paragraph.show {
    //     animation-name: modalFade;
    //     animation-duration: 0.5s;
    // }
}
}



@keyframes modalFade {
    from {transform: translateY(-50%);opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
  }

  .faq-page-circle-1 {
    z-index: -1;
    position: absolute;
    bottom: 100px;
    left: 150px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: rgb(88,181,26);
    background: linear-gradient(90deg, rgba(88,181,26,1) 0%, rgba(66,161,23,1) 50%, rgba(44,141,20,1) 100%);

}
.faq-page-circle-2 {
    z-index: -1;
    position: absolute;
    top: 100px;
    left: 55px;
    width: 135px;
    height: 135px;
    border-radius: 100px;
    border: 12px solid rgba(66,161,23,1);
}
.faq-page-circle-3 {
    z-index: -1;
    position: absolute;
    bottom: 0px;
    right: 55px;
    width: 150px;
    height: 75px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px; 
    border: 12px solid rgba(66,161,23,1);
    border-bottom: 0;
}
.faq-page-circle-4 {
    z-index: -1;
    position: absolute;
    top: 45%;
    right: -50px;
    width: 175px;
    height: 175px;
    border-radius: 100px;
    background: rgb(88,181,26);
    background: linear-gradient(90deg, rgba(88,181,26,1) 0%, rgba(66,161,23,1) 50%, rgba(44,141,20,1) 100%);

}
.faq-page-circle-5 {
    z-index: -1;
    position: absolute;
    top: 100px;
    right: 200px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 10px solid #FF9A34;
}

.option-wrapper {
    z-index: 3;
	display: inline-block;
	//padding: .75rem 1.25rem;
	color: black;
	// text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .15rem;
    //transition: all .3s;
    transition: all .5s;
	position: relative;
    overflow: hidden;
    width: 70%;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		//background-color: $color !important;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
        // background-color: darken($color, 15%);
        background-color: darken($color, 45%);
		transition: all .3s;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
    }
}

.transition-paragraph.show {
    background-color: black;
    color: white;
}

.faq-option.show {
    background-color: black !important;
    color: white;
}